.intro {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

h2 {
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
}

.background {
    background-image: url('../images/Backgroundimg.jpg');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    filter: brightness(20%);
    box-sizing: border-box;
    vertical-align: middle;
}

.liftsharebox {
    margin-top: 50px;
    display: flex;
}

.liftlink {
    width: 35%;
    height: fit-content;
}

.liftshareimg{
position: sticky;
width: 100%;
height: 100%;
box-sizing: border-box;
}

.liftshareimg:hover{
    width: 120%;
    height: 120%;
}

.liftdesc {
    width: 20%;
    margin-left: 70px;
    margin-right: auto;
    font-size: large;
    word-spacing: 2px;
}

.portrait {
display: flex;
position: absolute;
width: 40%;
height: 40%;
margin-left: 1in;
}

.homeimg {
width: 55%;
height: 100%;
margin: 0px;
padding: 0px;
border: 3px solid white;
border-radius: 100%;
}

.intro-text {
font-size: xx-large;
font-style: italic;
margin-left: 40%;
margin-right: 40%;
padding-top: 100px;
}

@media (max-width: 768px) {
    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        filter: brightness(20%);
        box-sizing: border-box;
        vertical-align: middle;
    }

    .homeimg {
        display: flex;
        position: absolute;
        margin-left: 120px;
        margin-top: 20px;
        width: 100%;
        height: 50%;
    }

    .portrait {
        margin: 0px;
    }

    .intro-text {
        position: absolute;
        font-size: medium;
        margin-right: 20%;
        margin-left: 20%;
        top: 300px;
        right: 0px;
    }
}