/* navbar.css */

.navbar {
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px; /* Default height for desktop */
    position: relative; /* Add position relative to the navbar */
}

.logo {
    padding: 10px;
    display: flex;
    position: absolute;
    left: 0px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333; /* Dark text color */
}

.navlinks {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: large;
    padding: 10px;
}

a:hover {
    color: grey;
}

h1 {
    margin: 0;
}

.socialbox {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
}

img {
    display: flex;
    padding: 3px;
}

svg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.sociallink {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.socialitem {
    display: flex;
}

img {
    width: 50px;
    height: 50px;
}

.logo {
    color: black;
}

.logo:hover {
    color: black;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    .navbar {
        height: 60px; /* Smaller height on mobile */
        padding: 10px; /* Adjust padding on mobile */
    }

    .logo {
        font-size: 10px; /* Decrease font size on mobile */
        left: 10px; /* Adjust left position on mobile */
        top: 15px;
    }

    .navlinks {

        align-items: center;
        margin-top: 10px; /* Adjust margin on mobile */
    }

    li {
        margin: 5px 0;
    }

    a {
        font-size: 14px;
        padding: 5px; /* Reduce padding on mobile */
    }

    svg {
        height: 25px;
        width: 25px;
    }

    .socialbox,
    .sociallink {
        position: static;
        margin: 10px 0;
    }
}
