html {
    background-color: hsl(190, 26%, 33%);
}

.projects {
    color: white;
}

.protitle {
    color: black;
}

.chatbox {
    display: flex;
    margin-top: 1in;
}

.chatlink {
    position: sticky;
    width: 34.7%;

}

.chatimg {
    width: 100%;
    height: 100%;
}

.chatimg:hover {
    width: 120%;
    height: 120%;
}